{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block heading %}
<h1>ABOUT PAGE</h1>
{% endblock %}

{% block para%}

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ea aspernatur, quia vel, fuga rerum ducimus reiciendis libero ex 
    dolorem deleniti suscipit! Quae voluptatum rem sed adipisci ipsam! Ducimus, ea! Tempore vero odio veniam consectetur reiciendis nostrum
    facilis alias voluptas? Hic culpa aut eos voluptatum corrupti assumenda laboriosam repudiandae impedit adipisci similique doloribus, 
    dolorem vitae cupiditate a. Reiciendis ut temporibus eligendi nesciunt, nobis numquam ullam quibusdam vel asperiores quia, recusandae 
    culpa sint accusantium, sapiente deserunt tempore saepe maxime fuga? Porro aut maiores veniam nulla reiciendis facilis et quibusdam 
    aspernatur ab. Sunt consequuntur recusandae sit doloremque voluptatem ab ipsam culpa repudiandae.</div>

{% endblock %}

</body>
</html>
