<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>HELLOO 
        WELCOME {{a}}!!
        {{ a | upper }}  
        <!-- gives uppercase -->
        <br>
        through route -- {{b}}
        {{ b|lower }}
        <!-- gives lowercase -->
        <br>
        for loop <br>
        <!-- for i in range(10)   range will not work in html page-->
        {% for i in c %}
        {{i}} <br>
        {% endfor %}

        <br>
        if- else 
        {% for i in c %}
        {% if i > 5 %}
        {{i}} <br>
        {% endif %}
        {% endfor %}

    </div>
</body>
</html>